body {
    font-family: "Times New Roman", Times, serif;
    margin: 1;
    padding: 1;
    background-color: #f8f9fa; /* Light background for contrast */
  }

header {
    margin-bottom: 20px; /* Space below header */
}
  

section {
    gap: 20px;
    padding: 10px;
    
}

.card {
    border: 1px solid #ffff; /* Light border for cards */
    border-radius: 8px; /* Rounded corners */
    transition: transform 0.2s; /* Smooth transform effect */
}

.card-img-top {
    border-bottom: 1px solid #dee2e6; /* Border below the image */
  }
  
.card-body {
    background-color: #ffffff; /* White background for card body */
    padding: 16px; /* Padding inside card body */
  }

  .card-title {
    font-size: 1.25rem; /* Larger font size for titles */
  }


